@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_PLayout.cshtml";
}

<div class="jumbotron">
    <h1>Statistics</h1>
    <p class="lead">
        <div class="row" style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> All Clients : </span> <span id="AllClients"> value</span></div>
            <div class="col-md-6 col-sm-6"><span> All Companies : </span> <span id="AllCompanies"> value</span></div>
        </div>
        <div class="row " style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> All Payments :  </span> <span id="AllPayments"> value</span></div>
            <div class="col-md-6 col-sm-6"><span> Payments Sum :</span> <span id="PaymentsSum"> value</span></div>
        </div>
        <div class="row " style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> All Shipping Requests : </span> <span id="AllShippingRequests"> value</span></div>
            <div class="col-md-6 col-sm-6"><span> Done Shipping Requests : </span> <span id="DoneShippingRequests"> value</span></div>
        </div>
        <div class="row " style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> Open Shipping Requests :</span> <span id="OpenShippingRequests"> value</span></div>
            <div class="col-md-6 col-sm-6"><span> Scheduled Shipping Request :</span> <span id="ScheduledShippingRequest"> value</span></div>
        </div>
        <div class="row " style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> All Products :</span> <span id="AllProducts"> value</span></div>
        </div>
    </p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products List</h2>
        <p><a class="btn btn-default" href="@Url.Action("Index","Products")">Products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Shipping Requests</h2>
        <p><a class="btn btn-default" href="@Url.Action("OpenShippingRequests","ShippingRequests")">Open Shipping Requests &raquo;</a></p>
        <p><a class="btn btn-default" href="@Url.Action("ScheduledShippingRequests","ShippingRequests")">Scheduled Shipping Requests &raquo;</a></p>
        <p><a class="btn btn-default" href="@Url.Action("DoneShippingRequests","ShippingRequests")">Done Shipping Requests &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        <h2>Companies</h2>
        <p><a class="btn btn-default" href="@Url.Action("Companies","Account")">Companies &raquo;</a></p>
        <p><a class="btn btn-default" href="@Url.Action("Register","Account")">Add New Company &raquo;</a></p>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
        WorkExperienceLoadData();

    });
    function WorkExperienceLoadData() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("getAllStatistics", "Account")',
            dataType: 'json',
            data: {},
            success: function (data) {
            var items = '';
            $('#AllClients').text(data.AllClients);
            $('#AllCompanies').text(data.AllCompanies);
            $('#AllPayments').text(data.AllPayments);
            $('#PaymentsSum').text(data.AllPaymentsSum);
            $('#AllShippingRequests').text(data.AllShippingRequests);
            $('#DoneShippingRequests').text(data.DoneShippingReqeusts);
            $('#OpenShippingRequests').text(data.OpenShippingRequests);
            $('#ScheduledShippingRequest').text(data.ScheduledShippingRequests);
            $('#AllProducts').text(data.AllProducts);


            //$.each(data, function (i, item) {
            //var from_date = item.From;
            //var to_date = item.To;
            //var from =  new Date(parseInt(from_date.substr(6)));
            //var to = new Date(parseInt(to_date.substr(6)))

            //$('#AllDreams').

            //});
            },
            error: function (ex) {
            var r = jQuery.parseJSON(response.responseText);
            alert("Message: " + r.Message);
            alert("StackTrace: " + r.StackTrace);
            alert("ExceptionType: " + r.ExceptionType);
            }
            });
            return false;
       }
    </script>
}