@model IEnumerable<ControlPanel.ViewModels.PaymnetViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PLayout.cshtml";
    var totalPayments = Model.Sum(a=>a.Amount);
    var CompanyPayments = Model.Sum(a => a.CompanyAmount);
    var UserPayments = Model.Sum(a => a.UserAmount);

}

<h1>Payments</h1>
<br />

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

<div class="container">
    @using (Html.BeginForm())
    {

        <div class="row">
            <div class="col-md-4">
                @Html.Label("Company")
                @Html.DropDownList("CompanyUserId", null, htmlAttributes: new { @class = "form-control m-input m-input--air" })   
            </div>
            <div class="col-md-4">
                @Html.Label("From Date")
                @Html.TextBox("fromDate", null, new { type = "date", @class = "form-control m-input m-input--air" })
            </div>
            <div class="col-md-4">
                @Html.Label("To Date")
                @Html.TextBox("toDate", null, new { type = "date", @class = "form-control m-input m-input--air" })

            </div>
        </div>
        <br />
        <div class="text-center">
            <button type="submit" class="btn btn-default">
                Filter
            </button>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <p class="label label-info" style="font-size:large">Total Amount : @totalPayments</p>
                <p class="label label-info" style="font-size:large"> Total Company's Amount: @CompanyPayments</p>
                <p class="label label-info" style="font-size:large">Total User's Amount : @UserPayments</p>
               
                
            </div>
            
        </div>

    
    }
</div>
<br />
<br />

<table id="myTable"  class="cell-border hover stripe" style="width:100%">
    <thead>
    <tr>
        <th>
            Company Name
        </th>
        <th>
           Product Code
        </th>

        <th>
            Product Type
        </th>
        <th>
            Status
        </th>
        <th>
           Total Amount
        </th>
        <th>
            Company's Amount
        </th>
        <th>
            User's Amount
        </th>
        <th>
            Payment Method
        </th>
        <th>
            Currency
        </th>
        <th>
            Creation Date
        </th>
        

        @*<th></th>*@
    </tr>
</thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prodcutCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Method)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.id })
                </td>*@
            </tr>
        }

    </tbody>
</table>

@section scripts{
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>

    <script type="text/javascript">

        $('#myTable').DataTable(
            {
                dom: 'Bfrtip',
                columnDefs: [
                    {
                        targets: 1,
                        className: 'noVis'
                    }
                ],
                buttons: [
                    {
                        extend: 'colvis',
                        columns: ':not(.noVis)'
                    },
                    'copyHtml5',
                    'excelHtml5',
                    'pdfHtml5'
                ]

            }


        );
    </script>
}
