@model IEnumerable<ControlPanel.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PLayout.cshtml";
}

<h1>Products</h1>
<br />
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />


<table id="myTable"  class="cell-border hover stripe" style="width:100%">
    <thead>
        <tr>
            

            <th>
                @Html.DisplayNameFor(model => model.ItemCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableColors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSizes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaistSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SleeveLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FabricType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.torsoLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.legLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModificationDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.AttachmentId)
            </th>*@
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ItemCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfItems)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableColors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableSizes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WaistSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SleeveLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bust)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FabricType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.torsoLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.legLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModificationDate)
                </td>
                @*<td>
                   @{
                       var path1 = Path.Combine("/Images/", item.Attachments[0].FileName);
                    <img style="height:100px;width:100px" src="@path1" />

                }
                </td>*@
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.id })
                </td>*@
            </tr>
        }

    </tbody>
</table>


@section scripts{
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>

    <script type="text/javascript">

        $('#myTable').DataTable(
            {
                dom: 'Bfrtip',
                columnDefs: [
                    {
                        targets: 1,
                        className: 'noVis'
                    }
                ],
                buttons: [
                    {
                        extend: 'colvis',
                        columns: ':not(.noVis)'
                    },
                    'copyHtml5',
                    'excelHtml5',
                    'pdfHtml5'
                ]

            }


        );
    </script>
}